body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    margin: 0;
}

.container {
    background-color: #00eeff82;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
}

h2, h3 {
    color: #007BFF;
}

form {
    margin-bottom: 20px;
}

label {
   text-align: left;
    display: block;
    margin: 0px 0 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #007BFF;
    background-color: #ffffff00;
    border-radius: 5px;
    box-sizing: border-box;
}
.eye-button {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
}

.password-container {
    position: relative;
}

.login-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #1f0085;
}
