body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    margin: 0;
}

.container {
    background-color: #00eeff82;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
}

h2 {
    color: #007BFF;
}

form {
    margin-bottom: 20px;
}

label {
    text-align: left;
    display: block;
    margin: 0px 0 5px;
    color: #333;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #007BFF;
    background-color: #ffffff00;
    border-radius: 5px;
    box-sizing: border-box;
}

.update-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.update-button:hover {
    background-color: #0056b3;
}
